@media only screen and (max-width: 878px){
    .item{
        width: 47%;
    }

}
@media only screen and (max-width: 600px){
    .item{
        width: 35%;
    }
    .card__add{
        width: 70%;
    }
    .card__edit{
        width: 70%;
    }
    .main{
        flex-direction: column;
    }
    .item{
        width: 100%;
        max-height: 300px;
    }
}


